Logical Regression - Simple yes or no; 
Categorical

### Basics of logistic regression

### Import the relevant libraries

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns

sns.set()

### Load the data

In [11]:
raw_data = pd.read_csv('data/2.01. Admittance.csv')
raw_data.head()

    SAT Admitted
0  1363       No
1  1792      Yes
2  1954      Yes
3  1653       No
4  1593       No

#### like dummies, we must convert Yes/No to 1s and 0s for quantative analysis

In [15]:
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes':1,'No':0})
data.head()

    SAT  Admitted
0  1363         0
1  1792         1
2  1954         1
3  1653         0
4  1593         0

##### Nothing new so far

### Variables